<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <nav>
            
            <ul>
                <a href="enregistrer.html"><li>ENREGISTRER</li> </a>    
                <a href="creerannee.html"><li>CREER ANNEE </li></a>
                <a href="creerniveau.html"> <li>CREER NIVEAU</li></a>
                <a href="creerclasse.html"><li>CREER CLASSE</li></a>
            </ul>
        </nav>
    </div>
    
</body>
</html>