<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body class="connecbody">
    
    <div class="container">

    
    <form class="connexion" action="acceuil.html">
        <label class="labcon">Connexion</label>
        <div>
            <label class="ch">Telephone</label>
            <input type="text" name="lib" required>
        </div>

        
        <div>
            <label class="ch">Mot de passe</label>
            <input type="password" name="pu" required>
        </div>

        
        <div class="connecbutton">
            <a href=""><input type="submit" value="Se connecter" name="" ></a>
        </div>
        
    </form>

    </div>
</body>
</html>